*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgba(255, 0, 0, 0.05);
}

.main{
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.container{
    margin: 0 auto;
    max-width: 59.25rem;
    width: 100%;
}

.hero{
    padding: 3rem;
    padding-right: 1.5rem;
    display: flex;
}

.hero__title{
    margin-bottom: 2rem;
}

.hero__cards{
    display: grid;
    grid-template-columns: repeat( 3, 18.75rem);
    gap: 1.5rem;
}

.hero__cards-card-img{
    position: relative;
    margin-bottom: 2rem;
}

.hero__cards-card-img-image{
    width: 100%;
    border-radius: 0.5rem;
}

.hero__cards-card-img-button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 40%);
    background: #fff;
    border-radius: 2rem;
    font-weight: bold;
    padding: 0.85rem 2rem;
    font-size: 1rem;
    white-space: nowrap;
    display: flex;
    gap: 0.5rem;
    border: 1px solid #000;
    cursor: pointer;
}

.hero__cards-card-img-button:hover{
    color: red;
    border-color: red;
}

.hero__cards-card-img-button.active{
    color: white;
    background: red;
    border-color: red;
    max-width: 11.625rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
}

/* .hero__cards-card-img-button.active::before{
    border: 1px solid #fff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    content: "\2014";
}

.hero__cards-card-img-button.active::after{
    border: 1px solid #fff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    content: "+";
} */

.active-button{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.active-button__value{
    border: 1px solid #fff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.active-button__value:hover{
   background: #fff;
   color: #000;
   border-color: #000;
}

.hero__cards-card-description{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.25rem;
}

.hero__cards-card-description-category{
    color: gray;
}

.hero__cards-card-description-price{
    color: red;
}

.cart{
    margin-top: 3rem;
    margin-right: 1rem;
    padding: 1rem;
    background: #fff;
    min-height: 20rem;
    height: 100%;
    max-width: 25.75rem;
    width: 100%;
    border-radius: 1rem;
    max-height: 40rem;
    overflow-y: auto;
}

.cart__title{
    color: red;
    font-size: 1.5rem;
}

.cart__content{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart__content-img{
    margin: 0 auto;
    display: block;
}

.cart__content-text{
    text-align: center;
    color: #87635a;
    font-size: 0.85rem;
}

.cart__content-card{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.cart__content-card-content-description{
    display: flex;
    max-width: 10rem;
    width: 100%;
    justify-content: space-between;
}

.cart__finish{
    padding-top: 1rem;
    display: none;
}

.cart__finish-total{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;
}

.cart__finish-total-price{
    font-size: 1.5rem;
    font-weight: bold;
}

.cart__finish-carbon{
    display: flex;
    gap: 0.5rem;
    width: 100%;
    background: rgba(255, 0, 0, 0.05);
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.cart__finish-button{
    background: red;
    border-color: red;
    color: #fff;
    width: 100%;
    padding: 1rem 0;
    border-radius: 7rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.cart__finish-button:hover{
    background: darkred;
    border-color: darkred;
}

.cart__content-card-closeButton{
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.cart__content-card-closeButton:hover{
    cursor: pointer;
    border-color: #000;
}

.cart__content-card-content-description-count{
    color: red;
}

.modal{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal--hidden{
    display: none;
}

.no-scroll{
    overflow: hidden;
}

.modal__content{
    max-width: 40rem;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: #fff;
    max-height: 80vh;
    overflow: auto;
}

.modal__content-img{
    margin-bottom: 1rem;
}

.modal__content-title{
    font-size: 3rem;
}

.modal__content-text{
    color: gray;
    margin-bottom: 1rem;
}

.modal__content-cart{
    margin-bottom: 1rem;
    background: rgba(255, 0, 0, 0.05);
    border-radius: 0.5rem;
}

.modal__content-button{
    background: red;
    border-color: red;
    color: #fff;
    width: 100%;
    padding: 1rem 0;
    border-radius: 7rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.modal__content-button:hover{
    background: darkred;
    border-color: darkred;
}

.modal__content-cart-card{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
}

.modal__content-cart-card-allPrice{
    font-weight: bold;
    font-size: 1.5rem;
}

.modal__content-cart-card-content{
    display: flex;
    gap: 0.5rem;
}

.modal__content-cart-card-content-img{
    border-radius: 0.5rem;
}

.modal__content-cart-card-content-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 0.2rem;
}

.modal__content-cart-card-content-description-title{
    font-size: 1.5rem;
}

.modal__content-cart-card-content-description-info{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}

.modal__content-cart-total{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}